.panel.panel-default
  .panel-heading
    span Pomodoro Timer
    span#stats
  .panel-body
    .text-center#timer(style="font-size:240px")
    hr
    .btn-group.pull-right
      .btn.btn-default#stop stop
      .btn.btn-default.btn-primary#start start
